<header class="nav-bar">
  <nav class="level">
    <div class="level-item">
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn" routerLink="/">HOME</a>
      <!-- </p> -->
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn" routerLink="/about">POSTS</a>
      <!-- </p> -->
    </div>
    <p class="level-item">
      
        <figure class="image is-horizontal-center">
          <a routerLink="/">
          <img src="https://i.imgur.com/3Vb5IUx.png" alt="Jason Terry">
            </a>
        </figure>
      
    </p>
    <div class="level-item">
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn" routerLink="/posts">PROJECTS</a>
      <!-- </p> -->
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn" routerLink="/register">REGISTER</a>
      <!-- </p> -->
    </div>
  </nav>
</header>