<header>
  <div class="container">
    <a routerLink="/" class="logo"> {{ appTitle }}</a>
    <nav>
      <div class="nav-list">
        <button routerLink="/">HOME</button>
        <button routerLink="/about">ABOUT</button>
        <button routerLink="/posts">POSTS</button>
        <button routerLink="/register">REGISTER</button>
        <button routerLink="/login">LOGIN</button>
        <button routerLink="/editor">EDITOR</button>
        <button routerLink="/manage">MANAGE</button>
      </div>
    </nav>
  </div>
</header>