header {
    background: #94eeef;
    border-bottom: solid black 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 2pc;
    white-space: nowrap;
    overflow: show;
    flex: 0;
}

nav {
    flex: 0;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    
}

.nav-list button {
    padding: .5em;
    text-transform: uppercase;
    font-size: .8em;
    width: 100px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10pc;
}

button:hover {
    background: #8E2BFF;
}