
<header class="nav-bar">
  <nav class="level">
    <div class="level-item">
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn-width" routerLink="/">HOME</a>
      <!-- </p> -->
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn-width" routerLink="/about">POSTS</a>
      <!-- </p> -->
    </div>
    <p class="level-item">
      <a routerLink="/">
        <figure class="image">
          <img class="" src="../../assets/Jason Terry.png" alt="Jason Terry">
        </figure>
      </a>
    </p>
    <div class="level-item">
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn-width" routerLink="/posts">PROJECTS</a>
      <!-- </p> -->
      <!-- <p class="level-item has-text-centered"> -->
        <a class="button is-large is-outlined is-rounded menu-btn-width" routerLink="/register">REGISTER</a>
      <!-- </p> -->
    </div>
  </nav>
</header>