.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    border: solid 1px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 2pc;
}

.editor-wrapper {
    display: block;
}